<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Libri</title>
    </head>

    <body>
        <h1>Modifica Autore</h1>

        <p><a href="/autori">Autori</a></p>

        <form action="/edit-autore" method="POST">
            <input type="hidden" name="id" value="<%= autore.id %>">
            <input type="text" name="nome" placeholder="Nome" value="<%= autore.nome %>">
            <input type="text" name="cognome" placeholder="Cognome" value="<%= autore.cognome %>">
            <input type="submit" value="Aggiorna Autore">
        </form>
    </body>
</html>
